@charset "UTF-8";


h1 {
    font-family: Arial;
    position: relative;
    padding: 1.5rem 2rem;
    -webkit-box-shadow: 0 2px 14px rgba(0, 0, 0, .1);
    box-shadow: 0 2px 14px rgba(0, 0, 0, .1);
    text-align: center;
  }
  
  h1:before,
  h1:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 10px;
    content: '';
    background-image: -webkit-linear-gradient(315deg, #086270 0%, #08b5ff 40%, #0842e1 60%, #084c70 100%);
    background-image: linear-gradient(135deg, #086270 0%, #08b5ff 40%, #0842e1 60%, #084c70 100%);
  }
  
  h1:before {
    top: 0;
  }
  
  h1:after {
    bottom: 0;
  }

.button {
  font-size: 1.375rem;
  background: rgba(11, 155, 181, 0.484);
  color: #fff;
  /* 角を丸める */
  border-radius: 5px;
  padding: 18px 32px;
}


/* :hover はタグの上をカーソルが通ったときの設定 */

.button:hover {
  background: #1709b6;
}

.logout {
  text-align: right;
} 




body,p,form,input {
  margin: 0;
}
#form {
  width: 400px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #0842e1;
  text-align: center;
}
form p {
  font-size: 14px;
}
.form-title {
  text-align: center;
}
.name,
.pass {
  margin-bottom: 20px;
}
input[type="text"],
input[type="password"] {
  width: 300px;
  padding: 4px;
  font-size: 20px;
}
.submit {
  text-align: center;
} /* font */
#form p {
  color: #080808;
  font-weight: bold;
}
#form .form-title {
  font-family: Arial;
  font-size: 30px;
  color: #0a0a0a;
} /* skin */
#form {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 10px #0842e1;
  -moz-box-shadow: 0px 1px 10px #0842e1;
  box-shadow: 0px 1px 10px #0842e1;
  border: solid #0842e1 1px;
  background: #fafafa;
}
#form .form-title {
  padding-bottom: 6px;
  border-bottom: 2px solid #0842e1;
  margin-bottom: 20px;
}
.submit button {
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 6px #e3e3e3;
  -moz-box-shadow: 0px 8px 6px #e3e3e3;
  box-shadow: 0px 8px 6px #e3e3e3;
  border: solid #f5fdff 4px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#61c7e0), to(#0842e1));
  background: -moz-linear-gradient(top, #61c7e0, #0842e1);
}
.submit button:hover {
  background: #0b57db;
}


.submit2 button {
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 6px #e3e3e3;
  -moz-box-shadow: 0px 8px 6px #e3e3e3;
  box-shadow: 0px 8px 6px #e3e3e3;
  border: solid #f5fdff 4px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#e0619e), to(#e1081e));
  background: -moz-linear-gradient(top, #e0619e, #e1081e);
}
.submit2 button:hover {
  background: #b30202;
}

select{
  width:200px;
  height:30px;
  font-size: 20px;
}