<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
    {% block title %}
    <title>管理者メニュー</title>
    {% endblock %}
</head>
<body>
    <h1>就活報告書管理システム</h1>
    {% block content %}
    <h3>マイページ</h3>
    </br>
    </br>
    <a class = "logout" href="{{url_for('logout')}}">ログアウト</a>
    </br>
    </br>
    </br>
    <a class="button" href="{{url_for('admin.report_search')}}">就活報告書検索</a></br>
    </br>
    </br>
    </br>
    <a class="button" href="{{url_for('admin.student_search')}}">学生検索</a></br>
    </br>
    </br>
    </br>
    <a class="button" href="{{url_for('admin.teacher_list')}}">教員一覧</a></br>
    </br>
    </br>
    </br>
    <a class="button" href="{{url_for('admin.teacher_register')}}">教員登録</a></br>
    {% endblock %}
    
</body>
</html>