{% extends "admin_top.html" %}

{% block title %}
<title>管理者＿報告書検索画面</title>
{% endblock %}
 
{% block content %}
    <h3>学生検索画面</h3>
    {% if error != null %}
    <p style="color:red">{{error}}</p>
    {% endif %}
    <form action="{{url_for('admin.student_search_exe')}}"method="post">
        氏名：<input type="text"name="name" value="{{name}}"><br>
        学年:
        <select size="1" name="grade" id="office54">
            <option value="">未選択</option>
            <option value="1年">1年</option>
            <option value="2年">2年</option>
            <option value="3年">3年</option>
            <option value="4年">4年</option>
        </select><br>
        組:
        <select size="1" name="class" id="office54">
            <option value="">未選択</option>
            <option value="1組">1組</option>
            <option value="2組">2組</option>
            <option value="3組">3組</option>
            <option value="4組">4組</option>
        </select><br>
        学科：
        <select size="1" name="department" id="office54">
            <option value="">未選択</option>
            <option value="情報システム科">情報システム科</option>
            <option value="情報ビジネス科">情報ビジネス科</option>
            <option value="デザイン科">デザイン科</option>
            <option value="高度情報工学科">高度情報工学科</option>
        </select><br>
        <button type="submit">検索</button>
    </form>
    {% endblock %}
   