{% extends "admin_top.html" %}

{% block title %}
<title>管理者＿教員一覧画面</title>
{% endblock %}
 
{% block content %}
    <h3>検索結果</h3>
  <table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>氏名</th>
            <th>メール</th>
        </tr>
    </thead>
    <tbody>
    <form action="{{url_for('admin.teacher_del')}}" method="post">
        {% for teacher in teachers %}
        <tr>
            <td>
                <div>
                    <input type="checkbox" id="checkbox1" name="check" value={{ teacher[0] }}>
               </div>
            </td>
            <td>{{ teacher[0]}}</td>
            <td>{{ teacher[1] }}</td>
        </tr>
        {% endfor %}
        <button type="submit">削除する</button>
    </form>
    </tbody>
  </table>
  {% endblock %}