{% extends "admin_top.html" %}

{% block title %}
<title>学生＿報告書検索画面</title>
{% endblock %}
 
{% block content %}
<div id="form">

    <h3 class="form-title">就活報告書検索画面</h3>
    {% if error != null %}
    <p style="color:red">{{error}}</p>
    {% endif %}
    <form action="{{url_for('report_search_exe')}}"method="post">
        <p>企業名</p>
        <p class = "name"><input type="text"name="company" value="{{company}}"></p>

        <p>業界</p>
        <p class = "name">
        <select size="1" name="industry" id="office54">
            <option value="">未選択</option>
            <option value="メーカー">メーカー</option>
            <option value="商社">商社</option>
            <option value="小売">小売</option>
            <option value="金融">金融</option>
            <option value="サービス">サービス</option>
            <option value="ソフトウェア・通信">ソフトウェア・通信</option>
            <option value="マスコミ">マスコミ</option>
            <option value="官公庁・公社・団体">官公庁・公社・団体</option>
        </select>
        </p>

        <p>選考結果</p>
        <p class = "name">
        <select size="1" name="result_type" >
            <option value="">未選択</option>
            <option value="合格">合格</option>
            <option value="不合格">不合格</option>
            <option value="辞退">辞退</option>
        </select>
        </p>
        <p class = "submit"><button type="submit">検索</button></p>
    </form>
</div>
{% endblock %}