{% extends "admin_top.html" %}

{% block title %}
<title>教員＿報告書一覧画面</title>
{% endblock %}
 
{% block content %}
<div id = "form">
    <h3 class="form-title">就活報告書詳細表示</h3>
    <p class = "name">学籍番号：{{ detail[0][0] }}</p>
    <p class = "name">氏名：{{ detail[0][1] }}</p>
    <p class = "name">企業名：{{ detail[0][2] }}</p>
    <p class = "name">業界：{{ detail[0][3] }}</p>
    <p class = "name">職種：{{ detail[0][4] }}</p>
    <p class = "name">１次試験日時：{{ detail[0][5] }}</p>
    <p class = "name">１次試験種類：{{ detail[0][6] }}</p>
    <p class = "name">２次試験日時：{{ detail[0][7] }}</p>
    <p class = "name">２次試験種類：{{ detail[0][8] }}</p>
    <p class = "name">３次試験日時：{{ detail[0][9] }}</p>
    <p class = "name">３次試験種類：{{ detail[0][10] }}</p>
    <p class = "name">試験内容：{{ detail[0][11] }}</p>
    <p class = "name">選考結果：{{ detail[0][12] }}</p>
    <p class = "name">担任承認：{{ detail[0][13] }}</p>
    <p class = "name">登録日：{{ detail[0][14] }}</p>


    <form action="{{url_for('teacher.teacher_approval')}}" method="post">
        <input type="hidden" name="student_num" value={{ detail[0][0] }}>
        <input type="hidden" name="company" value={{ detail[0][2] }}>
        <input type="hidden" name="teacher_approval" value="承認">
        <input type="submit" value="承認">
    </form>

    <a href="{{url_for('teacher.teacher_top')}}">ホームへ</a>
</div>
{% endblock %}