{% extends "admin_top.html" %}

{% block title %}
<title>教員＿学生検索画面</title>
{% endblock %}
 
{% block content %}
<div style="text-align: left;">
    <a href="{{url_for('teacher.teacher_top')}}">ホームへ</a>
</div>
<div id="form">
    <h3 class="form-title">学生検索画面</h3>
    {% if error != null %}
    <p style="color:red">{{error}}</p>
    {% endif %}
    <form action="{{url_for('teacher.student_search_exe')}}"method="post">
        <p>氏名</p>
        <p class="name"><input type="text"name="name" value="{{name}}"></p>
        
        <p>学年</p>
        <p class="name">
        <select size="1" name="grade" id="office54">
            <option value="">未選択</option>
            <option value="1年">1年</option>
            <option value="2年">2年</option>
            <option value="3年">3年</option>
            <option value="4年">4年</option>
        </select>
        </p>

        <p>組</p>
        <p class="name">
        <select size="1" name="class" id="office54">
            <option value="">未選択</option>
            <option value="1組">1組</option>
            <option value="2組">2組</option>
            <option value="3組">3組</option>
            <option value="4組">4組</option>
        </select>
        </p>

        <p>学科</p>
        <p class ="name">        
        <select size="1" name="department" id="office54">
            <option value="">未選択</option>
            <option value="情報システム科">情報システム科</option>
            <option value="情報ビジネス科">情報ビジネス科</option>
            <option value="デザイン科">デザイン科</option>
            <option value="高度情報工学科">高度情報工学科</option>
        </select>
        </p>
        <p class = "submit"><button type="submit">検索</button></p>
    </form>
</div>
{% endblock %}