{% extends "admin_top.html" %}

{% block title %}
<title>教員＿メニュー画面</title>
{% endblock %}
 
{% block content %}
<div style="text-align: center;">
    <h3>教員メニュー</h3>
    </br>
    <a class="button"href="{{url_for('teacher.teacher_report_search')}}">就活報告書検索</a>
    </br>
    </br>
    </br>
    </br>
    <a class="button" href="{{url_for('teacher.student_register')}}">学生登録</a>
    </br>
    </br>
    </br>
    </br>
    <a class="button" href="{{url_for('teacher.student_search')}}">学生検索</a>
    </br>
    </br>
    </br>
    </br>
    <a class="button" href="{{url_for('teacher.account_search')}}">アカウント編集</a>
</div>
{% endblock %}